@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oswald&display=swap');
/* Reset */
* {
  box-sizing: border-box;
 
}
/* setup */
body {
  margin: 0;
  font-size: clamp(18px, 4vw, 32px);
  background-color:rgb(252, 252, 252);
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* background work */
  background-color:hsla(186, 72%, 44%, 0.8);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  
  /* increase height */
  height: 8em;
}

  header h1 {
  color: #fff;
  font-size: 2.5em;
  text-shadow: 3px 2px 0px black;
}

/* Main Section */
main {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin: 0 auto;
  margin-bottom: 7em;
}

/* add display flex in artical container */
.artical-container {
  display: flex;
  margin-top: 6em;
}

h3 {
  margin-top: 2em;
  margin-bottom: .8em;
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  color: white;
  max-width: 50ch;
  /* colorful background */
  background-color: rgb(82, 137, 255);

  text-align: center;
}

/* image */
img {
  max-width: 100%;
  width: 100vw;
  height: 70vh;
}

/* centerize article-content */
.article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Playfair Display', serif;
  /* width: 80vw;
  height: 40vh; */
}

/* add font-family */
.artical-text {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff;
}

/* detail of each sports */
.detail {
  font-size: 2rem;
  font-style: italic;
  color: #7a7a7a;
}

.detail .date {
  margin-bottom: .5em;
}

.detail span {
  color: #e28f30;
}

.detail span:hover {
  text-decoration: underline;
}

/* Design button */
button {
  /* make it recognizable */
  padding: 12px 28px;
  color:#2C97D3;
  font-size: 30px;
  background-color: transparent;

  /* take out border */
  border: 0px;
}


button:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  height: 5vh;
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}